@import url("https://fonts.googleapis.com/css2?family=Abel&family=Junge&family=Liu+Jian+Mao+Cao&family=Luckiest+Guy&family=Poppins&display=swap");
:root {
  /* lengths sm*/
  --lengths-sm-1: 2px;
  --lengths-sm-2: 4px;
  --lengths-sm-3: 8px;
  --lengths-sm-4: 10px;
  /*lengths md*/
  --lengths-md-2: 16px;
  --lengths-md-3: 24px;
  --lengths-md-3: 32px;
  /* lengths lg */
  --lengths-lg-1: 100px;
  --lengths-lg-2: 250px;
  --lengths-lg-3: 500px;
  /* fonts */
  --font1: "Junge", serif;
  --font2: "Liu Jian Mao Cao", cursive;
  --font3: "Luckiest Guy", cursive;
  --font4: "Poppins", sans-serif;
  --font5: sans-serif;
  /* accent colors */
  --accent-1: #81bec3;
  --accent-2: #e5a8a8;
  --accent-3: #f9ddab;
  /* main base mono color */
  --monochrome-1: white;
  --monochrome-2: #edf0f2;
  --monochrome-3: #6b6e70;
  --monochrome-4: #474b4f;
  --monochrome-5: black;
  /* transparent black */
  --transparent-25: rgba(0, 0, 0, 0.25);
  --common-shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  --outline-shadow: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));

  --custom-gradient: linear-gradient(
      to top left,
      transparent,
      rgba(255, 153, 150, 0),
      var(--accent-1)
    ),
    linear-gradient(
        to top right,
        transparent,
        rgba(255, 153, 150, 0),
        var(--accent-2)
      )
      var(--accent-3);

  --loading-width: 2000px;
  --loading-speed: 1s;

  font-family: var(--font4);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-palette-4);
  background-color: var(--color-palette-3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{box-sizing: border-box;}

p {
  font-family: var(--font5);
}

a {
  font-weight: 500;
  color: var(--monochrome-4);
  text-decoration: inherit;
  transition: all 0.25s;
}
a:hover {
  color: var(--monochrome-5);
}

body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background: var(--custom-gradient);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-palette-2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.call-to-action {
  background-color: var(--accent-1);
  border-radius: 3px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.call-to-action:hover {
  background-color: var(--accent-3);
  color: var(--monochrome-1);
  filter: var(--common-shadow);
  transform: scale(1.05);
}

.pagecontainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .pagerestrict {
    min-width: 100vw;
  }
}
@media screen and (min-width: 800px) {
  .pagerestrict {
    min-width: 800px;
  }
}
.pagerestrict {
  max-width: 800px;
  min-height: 100vh;
  align-self: center;
  background-color: var(--monochrome-1);
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 1));
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}

.loading {
  opacity: 0.2;
  border-radius: var(--lengths-sm-1);
  background: linear-gradient(90deg, gray, lightgray, gray);
  background-size: var(--loading-width) auto;
  animation: loadscroll linear infinite var(--loading-speed);
  user-select: none;
}

.loading,
.loading * {
  color: transparent;
}

.swirl-padding {
  padding-bottom: var(--lengths-lg-1);
}

.rainbow-border {
  box-shadow: 0 0 0 var(--lengths-sm-1) var(--accent-2),
    0 0 0 calc(var(--lengths-sm-1) * 2) var(--accent-3),
    0 0 0 calc(var(--lengths-sm-1) * 3) var(--accent-1);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: auto;
  outline: none;
  height: var(--lengths-md-2);
  background: var(--custom-gradient);
  border-radius: var(--lengths-md-2);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: var(--lengths-md-2);
  width: var(--lengths-md-2);
  outline: none;
  background: var(--monochrome-1);
  border-radius: var(--lengths-md-2);
  filter: var(--common-shadow);
}

@keyframes loadscroll {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: calc(0px - var(--loading-width));
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
