@import url("https://fonts.googleapis.com/css2?family=Abel&family=Junge&family=Liu+Jian+Mao+Cao&family=Luckiest+Guy&family=Poppins&display=swap");
:root {
  --font1: "Junge", serif;
  --font2: "Liu Jian Mao Cao", cursive;
  --font3: "Luckiest Guy", cursive;
  --font4: "Poppins", sans-serif;
  --font5: "Abel", sans-serif;

  --color-palette-1: #61892f;
  --color-palette-2: #86c232;
  --color-palette-3: #222629;
  --color-palette-4: #474b4f;
  --color-palette-5: #6b6e70;
  --color-palette-6: #edf0f2;
  --color-palette-7: #293a14;

  --common-shadow: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));

  font-family: var(--font4);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-palette-3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-palette-2);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-palette-2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
